<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block seo_description %}{% endblock %}">
    <meta name="keywords" content="{% block seo_keywords %}{% endblock %}">
    <meta property="og:title" content="{% block seo_title %}Esserbyhoneywell{% endblock %}"/>
    <meta property="og:type" content="website"/>
    {#<meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>#}
    {% block seo_more_scripts %}{% endblock %}
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>{% block title %}Esserbyhoneywell{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/esserfrontend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/flexslider.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/style-switcher.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/animate.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/slick.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/jquery.mmenu.all.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/esserfrontend/css/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css">
    {% endblock stylesheets %}
    <link href="{{ asset('bundles/esserfrontend/css/main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/esserfrontend/css/custom.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="page">
    {% include 'EsserFrontendBundle:Template:_header.html.twig' %}

    {{ render(controller("EsserFrontendBundle:Menu/List:rightMenu", {alias: 'right_menu'})) }}

    {% block breadcrumb %}
        <div class="breadcrumb-container">
            <div class="container text-right">
                <ol class="breadcrumb">
                    <li><a href="{{ url('esser_frontend_homepage') }}">Главная</a></li>
                    <li class="active">Code {{ status_code }} <i class="fa fa-arrow-down ml5"></i></li>
                </ol>
            </div>
        </div>
    {% endblock %}
    {% block body %}
        <section class="bg-white">
            <!-- DESIGNERS -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>Oops! An Error Occurred</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content">
                        <div class="container-fluid" id="content">
                            <div class="row-fluid">
                                <div id="error_content">
                                    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% include 'EsserFrontendBundle:Template:_footer.html.twig' %}
    <!-- tuTopButton -->
</div>

{% block javascript %}
    <script src="{{ asset('bundles/esserfrontend/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/jquery.mmenu.all.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/jquery.vanillabox-0.1.7.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/js.cookie.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/slick.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/jquery.placeholder.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/wow.min.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/event.dispatcher.js') }}"></script>
    <script src="{{ asset('bundles/esserfrontend/js/cart-info.js') }}"></script>
{% endblock javascript %}
<script src="{{ asset('bundles/esserfrontend/js/main.js') }}"></script>

{#{{ render(controller("EsserFrontendBundle:WebItem/List:index", {alias: 'counters'})) }}#}
</body>
</html>