
body section.breadcrumbs{
    background: #F6F6F7;
}

section.lk .button, section.subscribe .button {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    color: #f4f5f7;
    background: #ff8f24;
    cursor: pointer;
    border-radius: 5px;
}
section.lk .button:hover, section.subscribe .button:hover {
    background: #fba24e;
}


section.lk h1{
    font-size: 27px;
    font-weight: 900;
    padding-bottom: 30px
}
section.lk .cart{
    background: #fff;
    border-radius: 5px;
    clear: both;
    margin-bottom: 40px;
    padding: 3px 10px 10px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    min-height: 90px;
}
section.lk .cart h3{
    line-height: 65px;
    margin-bottom: -65px;
    font-size: 22px;
    font-weight: 900;
    padding-left: 32px;
}
section.lk .cart h3 + p{
    padding-top: 60px !important;
    padding-left: 30px
}
section.lk .cart table{
    width: 100%;
    font-size: 12px;
    font-weight: 700;
}
section.lk .cart table th{
    line-height: 65px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #eff0f2;
}
section.lk .cart table th:first-child{
    width: 175px;
}
section.lk.cart .cart table th:nth-child(2){
    text-align: left;
}
section.lk .cart table th:nth-child(3){
    width: 130px;
}
section.lk .cart table th:nth-child(4){
    width: 140px;
}
section.lk .cart table th:nth-child(5){
    width: 130px;
}
section.lk .cart table th:last-child{
    width: 30px;
}
section.lk .cart table td:nth-child(3){
    text-align: right;
}
section.lk .cart table td{
    padding: 10px 0 0;
}
section.lk .cart table .product td{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eff0f2;
    color: #000;
}
section.lk .cart table .product + tr td{
    padding-top: 20px;
}
section.lk .cart table .product ~ tr td{
    color: #000;
    font-size: 14px;
    font-weight: 500
}
section.lk .cart table .product td:nth-child(2){
    text-align: left;
}
section.lk .cart table .product td:nth-child(2) a{
    font-size: 14px;
    color: #000;
    font-weight: 500
}
section.lk .cart table .product td:nth-child(2) a:hover{
    color: #ff7d00
}
section.lk .cart table tr:last-child td{
    text-align: right;
}
section.lk .cart table td .price{
    font-size: 14px;
    font-weight: 700;
}
section.lk .cart table td .price.itogo{
    font-size: 22px
}
section.lk .cart table .product td img{
    max-width: 110px;
    max-height: 100px;
}
section.lk .cart table .product td .price{
    font-size: 20px;
}
section.lk .cart table td input[type="text"]{
    display: inline-block;
    width: 38px;
    height: 24px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    background: none;
    color: #969696;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}
section.lk .cart table td input[type="submit"]{
    border: none;
}
section.lk .cart table td .plus,section.lk .cart table td .minus{
    display: inline-block;
    width: 25px;
    height: 26px;
    cursor: pointer;
    border-radius: 2px;
    vertical-align: middle;
    margin: 0 3px;
    background: #e5e5e5 url("../img/icons2.gif") -346px -201px no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
}
section.lk .cart table td:hover .plus,section.lk .cart table td:hover .minus{
    opacity: 1;
}
section.lk .cart table td .plus{
    background-position: -405px -201px;
}
section.lk .cart table td .plus:hover,section.lk .cart table td .minus:hover{
    opacity: 0.8;
}
section.lk .cart table td a.delete, section.lk .cart table td a.del{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background: url('data:image/svg+xml,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"16"%20height%3D"16"><path%20fill-rule%3D"evenodd"%20clip-rule%3D"evenodd"%20d%3D"M3%205v8c0%201.104.896%202%202%202h6c1.104%200%202-.896%202-2v-8h-10zm3%207c0%20.553-.448%201-1%201s-1-.447-1-1v-4c0-.553.448-1%201-1s1%20.447%201%201v4zm3%200c0%20.553-.447%201-1%201-.552%200-1-.447-1-1v-4c0-.553.448-1%201-1%20.553%200%201%20.447%201%201v4zm3%200c0%20.553-.447%201-1%201s-1-.447-1-1v-4c0-.553.447-1%201-1s1%20.447%201%201v4z"%2F><path%20fill-rule%3D"evenodd"%20clip-rule%3D"evenodd"%20d%3D"M4%202h8c1.104%200%202%20.896%202%202h-12c0-1.104.896-2%202-2z"%2F><path%20fill-rule%3D"evenodd"%20clip-rule%3D"evenodd"%20d%3D"M7%201h2c.553%200%201%20.448%201%201s-.447%201-1%201h-2c-.552%200-1-.448-1-1s.448-1%201-1z"%2F><%2Fsvg>') center center no-repeat;

    opacity: 0.5;
    transition: opacity 0.3s;
}
section.lk .cart table td a.delete:hover, section.lk .cart table td a.del:hover{
    opacity: 1;
}
section.lk .cart table td a:hover{
    color: #ff7d00
}

section.lk aside{
    float: left;
    width: 285px;
    padding: 10px 20px 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
}
section.lk aside h3{
    font-size: 22px;
    line-height: 60px;
    font-weight: 900;
    border-bottom: 1px solid #eff0f2;
    padding-left: 65px;
    margin: 0 -20px;
    background: url("../img/icons2.gif") 16px -470px no-repeat;
}
section.lk aside ul{
    padding-top: 10px;
}
section.lk aside ul li {
    padding: 8px 0;
}
section.lk aside ul li a {
    color: #1e6bbd;
}
section.lk aside ul li a:hover {
    color: #ff7d00
}
section.lk aside ul li.bonus {
    padding: 8px 0;
    font-size: 13px;
    font-weight: 700
}
section.lk aside ul li.bonus span{
    color: #ff8f24
}
section.lk aside ul li.bonus + .bonus{
    border-bottom: 1px solid #eff0f2;
    font-size: 12px;
    font-weight: 500
}
section.lk aside .help{
    font-size: 9px;
    line-height: 12px;
    color: #999;
    padding: 8px 0 10px
}
section.lk .orders{
    float: right;
    width: 813px;
    min-height: 370px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
}
section.lk .orders h3{
    max-width: 300px;
    font-size: 22px;
    line-height: 60px;
    font-weight: 900;
    padding-left: 65px;
    background: url("../img/icons2.gif") 16px -623px no-repeat;
}
section.lk .orders h3 span{
    color: #ff8f24;
    font-weight: 700;
}
section.lk .orders table{
    width: 100%
}
section.lk .orders table th{
    line-height: 16px;
    border-top: 2px solid #eff0f2;
    border-bottom: 2px solid #eff0f2;
    font-size: 12px;
    font-weight: 700;
    padding: 13px 0;
}
section.lk .orders table th:first-child{
    width: 80px;
}
section.lk .orders table th:nth-child(5),section.lk .orders table th:nth-child(6){
    width: 65px;
}
section.lk .orders table th:nth-child(2), section.lk .orders table th:nth-child(3){
    width: 80px;
}
section.lk .orders table th:nth-child(7){
    width: 100px;
}
section.lk .orders table th:nth-child(8){
    width: 35px;
}
section.lk .orders table td{
    padding: 10px 0;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}
section.lk .orders table td:first-child, section.lk .orders table td:nth-child(2){
    color: #a2a2a2
}
section.lk .orders table td:first-child{
    padding-left: 15px;
}
section.lk .orders table td:nth-child(2) b {
    font-weight: 900;
    color: #4b4b4b;
    display: block;
}
section.lk .orders table td:last-child{
    padding-right: 10px;
}
section.lk .orders table td .status{
    display: block;
    font-size: 13px;
    font-weight: 700;
}
section.lk .orders table td .status.Принят {
    color: #6aac1c
}
section.lk .orders table td .status.Отменен {
    color: #ff3636
}
section.lk .orders table td:nth-child(4){
    text-align: left;
}
section.lk .orders table tr+ tr td{
    border-top: 1px solid #eff0f2;
}
section.lk .orders table td .price{
    font-size: 13px;
    font-weight: 700;
}
section.lk .orders table td .detail {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #e5e5e5 url("../img/icons2.gif") -376px -201px no-repeat;
}
section.lk .orders table td .detail:hover{
    opacity: 0.8;
}
section.lk .orders .readmore{
    height: 40px;
    line-height: 40px;
    background: #ececec;
    font-weight: 900;
    text-align: center;
    margin: 10px 10px 0;
    border-radius: 5px;
    opacity: 0.8;
}
section.lk .orders .readmore:hover{
    opacity: 1;
}
section.lk .orders table td a:hover{
    color: #ff7d00
}

section.subscribe{
    clear: both;
    padding-top: 45px;
    padding-bottom: 5px;
    font-weight: 700;
    margin-bottom: 50px
}
section.subscribe form{
    background: #fafafb;
    border-radius: 5px;
    padding: 7px 0 10px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
}
section.subscribe form label{
    line-height: 30px
}
section.subscribe h3{
    font-size: 22px;
    line-height: 60px;
    font-weight: 900;
    border-bottom: 1px solid #eff0f2;
    padding-left: 65px;
    margin: 0 0 10px;
    background: url("../img/icons2.gif") 16px -544px no-repeat;
}
section.subscribe form input[type="email"]{
    width: 500px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.07);
    font-size: 13px;
}
section.subscribe form input[type="email"]:focus{
    box-shadow: 0 3px 5px rgba(0,0,0,0.07), 0 0 4px rgba(255,167,28, 0.5);;
}
section.subscribe form input[type="submit"]{
    width: 285px;
    border: none;
    margin-right: -17px
}
section.subscribe form .left{
    float: left;
    width: 615px;
    padding-left: 20px;
    font-size: 13px;
}
section.subscribe form .left .rubrics{
    padding: 15px 0 0;
}
section.subscribe form .left .rubrics .title{
    float: left;
}
section.subscribe form .left .rubrics label{
    position: relative;
    display: block;
    margin-left: 65px;
    padding-left: 25px;
    line-height: 14px;
}
section.subscribe form .left .rubrics label input[type="checkbox"], section.subscribe form .left .rubrics label span.checkbox{
    position: absolute;
    left: 0;
    top: 2px;
}
section.subscribe form .left .rubrics label span{
    display: block;
    font-size: 10px;
    color: #797979
}
section.subscribe form .right{
    float: right;
    width: 450px;
    text-align: right;
    padding-right: 27px
}
section.subscribe form .right label{
    padding-left: 5px;
}
section.subscribe form .description {
    color: #a2a2a2;
    font-weight: 500;
    padding: 3px 0 10px;
}


/***            order-detail        ***/
section.order-detail .bx_control_table{
    margin-bottom: 50px
}
section.order-detail .bx_order_list h3{
    padding: 25px 0 10px
}
section.order-detail .bx_order_list .bx_ordercart_order_sum tr td{
    padding: 0 10px;
}
section.order-detail .bx_my_order_switch a{
    font-size: 13px;
    margin: 0 0 10px;
    text-decoration: underline;
}
section.order-detail .bx_my_order_switch a:hover {
    text-decoration: none
}
section.order-detail .bx_order_list_table a{
    text-decoration: underline;
}
section.order-detail .bx_order_list_table a:hover{
    text-decoration: none
}



/***            authorise           ***/
section.authorise{
    margin: 10px 0 50px
}
section.authorise .wrapper{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    padding: 15px 0;
}
section.authorise form{
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    padding: 0 150px 0 43px;
    width: 413px;
}
section.authorise form .form-description{
    font-size: 9px;
    line-height: 12px;
    color: #848484;
    padding-top: 20px;
}
section.authorise form label{
    display: block;
    font-size: 13px;
}
section.authorise form input[type="email"],
section.authorise form input[type="password"],
section.authorise form input[type="text"]{
    display: inline-block;
    width: 380px;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dcdcdc;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.07);
    margin: 3px 0
}
section.authorise form input[type="email"]:focus,
section.authorise form input[type="password"]:focus{
    box-shadow: 0 3px 5px rgba(0,0,0,0.07), 0 0 4px rgba(255,167,28, 0.5);;
}
section.authorise form input[type="submit"],section.authorise .register a{
    display: inline-block;
    width: 410px;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    color: #fff;
    border: none;
    background: #ff8f24;
    border-radius: 3px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
section.authorise form input[type="submit"]:hover, section.authorise .register a:hover{
    background: #fba24e
}
section.authorise form a{
    color: #787878
}
section.authorise form a:hover{
    color: #ff7d00
}
section.authorise form .readmore{
    float: right;
    width: 25px;
    height: 26px;
    margin-right: -5px;
    background: #ededed url("../img/icons.gif") -268px -745px no-repeat;
}
section.authorise form .readmore:hover{
    opacity: 0.8;
}
section.authorise .register{
    display: inline-block;
    vertical-align: top;
    width: 393px;
    line-height: 24px;
    font-size: 14px
}
section.authorise .register ul{
    margin-bottom: -4px
}
section.authorise .register li{
    padding-left: 10px;
    background: url("../img/icons3.gif") -298px -61px no-repeat;
}
section.authorise .title{
    font-size: 27px;
    font-weight: 900;
    line-height: 48px;
    padding: 15px 0
}
section .soc{
    display: inline-block;
}
section .soc.moreinfo{
    display: none;
}
section .soc li{
    display: inline-block;
    margin-right: -1px;
    padding: 0 0 5px;
}
section .soc a{
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url("../img/share-icons.gif") 0 0 no-repeat;
    line-height: 45px;
    vertical-align: middle;
    color: transparent;
    font-size: 0
}
section .soc a:hover{
    opacity: 0.8;
}
section .soc a[onclick*="VKontakte"]{
    background: #5b7fa6 url("../img/icons.png") -89px -838px no-repeat;
}
section .soc a[onclick*="Facebook"]{
    background: #415a99 url("../img/icons.png") 3px -838px no-repeat;
}
section .soc a[onclick*="GoogleOAuth"]{
    background: #dc4a38 url("../img/icons.png") -89px -867px no-repeat;
}
section .soc a[onclick*="odnoklassniki"],
section .soc a[onclick*="Odnoklassniki"]{
    background: #f38104 url("../img/icons.png") 3px -867px no-repeat;
}
section .soc a[onclick*="Twitter"]{
    background: #00caff url("../img/icons.png") -42px -838px no-repeat;
}
section .soc a[onclick*="MyMailRu"]{
    background: #00468c url("../img/icons.png") -44px -867px no-repeat;
}
section .soc a[onclick*="Livejournal"]{
    background: #316599 url("../img/icons.png") -134px -867px no-repeat;
}





/***        register            ***/
section.register{
    margin: 10px 0 50px
}
section.register .wrapper{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    padding: 15px 0;
}
section.register form{
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    padding: 0 150px 0 43px;
    width: 413px;
    font-size: 13px;
}
section.register form .form-description{
    font-size: 10px;
    line-height: 12px;
    color: #858585;
    padding-top: 7px;
}
section.register form label{
    display: block;
    padding-bottom: 9px;
}
section.register form label .error{
    color: red;
    font-size: 11px;
}
section.register form input[type="email"],
section.register form input[type="password"],
section.register form input[type="text"],
section.register form textarea{
    display: inline-block;
    width: 380px;
    padding: 0 15px;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    border: 1px solid #dcdcdc;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.07);
    margin: 3px 0
}

section.register form select {
    display: inline-block;
    width: 413px;
    padding: 0 15px;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    border: 1px solid #dcdcdc;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
    margin: 3px 0;
}

section.register form input[type="email"]:focus,
section.register form input[type="password"]:focus,
section.register form input[type="text"]:focus,
section.register form textarea:focus{
    box-shadow: 0 3px 5px rgba(0,0,0,0.07), 0 0 4px rgba(255,167,28, 0.5);;
}
section.register form textarea{
    height: 76px;
    line-height: 20px;
}
section.register form input[type="submit"],section.register .register a{
    display: inline-block;
    width: 410px;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    color: #fff;
    border: none;
    background: #ff8f24;
    border-radius: 3px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
section.register form input[type="submit"]:hover{
    background: #fba24e
}
section.register form .captcha input{
    width: 180px;
    margin-left: 20px
}
section.register form .person{
    padding-bottom: 5px;
}
section.register form .person label{
    display: inline-block;
    padding-right: 15px;
}
section.register form .phone-code{
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    color: #9a9a9a;
    padding-right: 5px;
}
section.register form .phone-code + input{
    width: 353px;
}
section.register form sup{
    color: #f00
}
section.register form label em{
    display: block;
    font-size: 10px;
    color: #c3c3c3;
    font-style: normal;
    margin-top: -3px
}
section.register form .confirm{
    font-size: 10px;
    line-height: 12px;
    color: #797979;
    padding: 10px 0 5px;
}
section.register form .confirm span.input.checkbox{
    vertical-align: bottom;
}
section.register form .jur_block{
    display: none;
}
section.register .readmore{
    float: right;
    width: 25px;
    height: 26px;
    background: #ededed url("../img/icons.gif") -268px -745px no-repeat;
}
section.register .readmore:hover{
    opacity: 0.8;
}
section.register .title{
    font-size: 27px;
    font-weight: 900;
    line-height: 48px;
    padding: 15px 0;
    margin-right: -60px
}
section.register .login-soc{
    display: inline-block;
    vertical-align: top;
    width: 415px;
}




section.lk.favorites{
    padding-bottom: 50px;
}


/***        media query     ***/
@media all and (max-width: 1024px) {
    section.lk aside{
        width: 245px;
    }
    section.lk .orders{
        width: 646px;
    }
    section.subscribe form .left{
        width: 415px
    }
    section.subscribe form input[type="email"]{
        width: 350px;
    }
    section.authorise form{
        padding-right: 35px;
    }
    section.register form{
        padding-right: 30px;
    }
}





/***        mobile      ***/
@media all and (max-width: 650px) {
    /***        authorise           ***/
    body section.breadcrumbs{
    }
    section.authorise{
        background: #fff;
        margin: 0
    }
    section.authorise .wrapper{
        padding: 0 0 40px
    }
    section.authorise form{
        padding: 0;
        width: 100%;
    }
    section.authorise .title{
        font-size: 16px;
        font-weight: 700;
        padding: 0 0 10px;
        line-height: 24px
    }
    section.authorise form input[type="email"], section.authorise form input[type="password"]{
        width: 280px;
        background: #fff;
    }
    section.authorise form input[type="submit"], section.authorise .register a{
        width: 100%;
        border-radius: 0;
        font-size: 17px;
        font-weight: 500;
    }
    section.authorise form a{
        color: #00a8fb;
    }
    section.authorise .register{
        width: 100% !important;
    }
    body section.authorise .register form input[type="submit"], body section.authorise .register a{
        width: 100% !important;
        display: block !important;
    }
    body section.authorise .register form{
        float: none !important;
        width: 100% !important;
    }
    section .soc a{
        width: 41px;
        height: 41px;
    }
    section.authorise form .form-description,
    section.authorise .register ul,
    section.authorise .register .title,
    section.authorise .register p{
        display: none;
    }
    section.authorise .register a{
        background: #3e3e3e;
    }


    /***    lk      ***/
    section.lk h1{
        font-size: 16px;
        font-weight: 700;
        padding: 0 0 10px;
        line-height: 24px
    }

    section.subscribe form .description,
    section.subscribe form .left .rubrics,
    section.subscribe form .right label{
        display: none;
    }

    section.lk .cart{
        padding: 20px 15px 0;
        margin-bottom: 0;
        box-shadow: none
    }
    section.lk .cart h3{
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        margin: 0 15px;
        padding: 0;
        border-bottom: 1px solid #eff0f2;
        background: none;
    }
    section.lk .cart table{
        width: 280px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        margin: 0
    }
    section.lk .cart table thead{
        display: none;
    }
    section.lk .cart table td .plus, section.lk .cart table td .minus{
        opacity: 1;
        width: 20px;
        height: 20px;
    }
    section.lk .cart table td .plus{
        background-position: -408px -204px
    }
    section.lk .cart table td .minus{
        background-position: -348px -203px
    }
    section.lk .cart table td input[type="text"]{
        height: 20px;
        width: 20px;
        font-size: 11px;
        font-weight: 300;
        line-height: 20px
    }
    section.lk .cart table td a.delete, section.lk .cart table td a.del{
        background-size: 13px auto;
    }
    section.lk .cart table td:last-child{
        width: 40px;
        text-align: center;
    }
    section.lk .cart table td:nth-child(3){
        width: 65px;
    }
    section.lk .cart table td a{
    }
    section.lk .cart table .product td .price{
        font-size: 16px;
    }
    section.lk .cart table td .price.sum{
        display: block;
        text-align: right;
        font-size: 12px;
        font-weight: 700
    }
    section.lk .cart table td .price.itogo {
        display: block;
        text-align: right;
        font-size: 16px;
    }
    section.lk .cart table input[type="submit"]{
        width: 310px !important;
        margin: 0 -15px !important
    }
    section.lk .orders table td .status.Принят{
        background: url('../img/mobile-icons.gif') -74px -68px no-repeat;
    }
    section.lk .orders table td .status.Отменен{
        background: url('../img/mobile-icons.gif') -36px -68px no-repeat;
    }


    section.lk .orders{
        width: 100%;
        padding: 20px 0 0;
        border-radius: 2px;
        float: none;
        padding-bottom: 12px;
        box-shadow: none;
    }
    #orders.not-mobile-content + section.subscribe{
        padding-top: 0
    }
    section.lk .orders h3{
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        margin: 0 15px;
        padding: 0;
        border-bottom: 1px solid #eff0f2;
        background: none;
    }
    section.lk .orders table{
        width: 290px;
        margin: 0 auto;
        vertical-align: middle;
    }
    section.lk .orders table thead{
        display: none;
    }
    section.lk .orders table tr+ tr td{
        border-top-style: dashed;
    }
    section.lk .orders table td:first-child{
        font-size: 0;
        color: transparent;
        padding: 0;
        width: 15px;
    }
    section.lk .orders table td:first-child span{
        font-size: 0;
        color: transparent;
    }
    section.lk .orders table td:nth-child(2){
        width: 60px;
        font-size: 9px;
        font-weight: 300;
        line-height: 11px;
    }
    section.lk .orders table td:nth-child(2) b{
        font-size: 12px
    }
    section.lk .orders table td:nth-child(3){
        width: 60px;
    }
    section.lk .orders table td .price{
        font-size: 11px;
    }
    section.lk .orders table td:nth-child(4){
        font-size: 0;
        color: transparent;
    }
    section.lk .orders table td:nth-child(4) a{
        font-size: 10px;
        line-height: 11px
    }
    section.lk .orders table td:nth-child(4)~td{
        display: none;
    }
    section.lk .orders .readmore{
        height: 46px;
        line-height: 46px;
        font-size: 12px;
        font-weight: 700;
        background: #fff;
        border: 1px solid #dfdfe0
    }

    section.lk aside{
        padding: 20px 15px;
        width: 280px;
        box-shadow: none;
        margin: 45px 0;
    }
    section.lk aside h3{
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #eff0f2;
        background: none;
    }
    section.lk aside ul li.bonus{
        position: relative;
        padding-left: 20px;
    }
    section.lk aside ul li.bonus:after{
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 9px;
        width: 15px;
        height: 15px;
        background: url('../img/mobile-icons.gif') -108px -68px no-repeat;
    }
    section.lk aside ul li.bonus + .bonus{
        border: none;
        padding-left: 0
    }
    section.lk aside ul li.bonus + .bonus:after{
        display: none;
    }
    section.lk aside .help{
        display: none;
    }
    section.lk aside ul li a{
        font-size: 14px;
        text-decoration: none;
    }
    section.lk aside .button{
        display: none;
    }

    section.subscribe{
        padding-bottom: 0;
        margin-bottom: 0;
        box-shadow: none
    }
    section.subscribe form{
        padding: 20px 0 0;
        border-radius: 2px;
    }
    section.subscribe form .left{
        float: none;
        width: auto;
        padding: 0 15px
    }
    section.subscribe form .right{
        color: transparent;
        font-size: 0;
        padding: 0;
        float: none;
        width: auto;
        text-align: center
    }
    section.subscribe h3{
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        margin: 0 15px;
        padding: 0;
        background: none;
    }
    section.subscribe form input[type="email"]{
        width: 248px;
        height: 46px;
        line-height: 46px;
    }
    section.lk .cart table td input[type="submit"],
    section.subscribe form input[type="submit"]{
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 46px;
        color: #fff;
        margin: 20px 0 0;
        border-radius: 1px
    }
}




section.register .select{
    border: none;
    border-radius: 4px;
    height: 46px;
    width: 140px;
    padding-left: 10px;
    background: url("../img/icons2.gif") right -587px no-repeat;
    box-shadow: inset 0 1px 4px rgba(0,0,0, 0.14);
}
section.register .select > span{
    display: block;
    cursor: default;
    line-height: 46px;
}
section.register div.input.select ul{
    top: 40px;
    left: 0;
    right: 0;
    padding: 10px 0 10px 15px;
    background: #fff;
    z-index: 1;
    font-size: 13px;
    line-height: 26px;
    box-shadow: inset 0 -1px 4px rgba(0,0,0, 0.14);
    border-radius: 0 0 4px 4px;
}
section.register div.input.select ul li{
    cursor: pointer;
}
section.register div.input.select ul li:hover{
    color: #333
}

