<div class="navbar" id="navigation" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div id="catalogPopUp">
            {% render(controller("ShopFrontendBundle:Catalog:topMenu", {'alias': app.request.get('alias')})) %}
        </div>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav nav-pills">
                <li class="dropdown" id="catalogLink">
                    <a href="" class="dropdown-toggle" onclick="Frontend.PopUpCatalog(); return false;">
                        Продукция<b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-collapse collapse">
            {% include 'ShopFrontendBundle:Search:_search_form.html.twig' %}
        </div>
        <div class="nav-collapse collapse" id="authBlock">
            <ul class="nav nav-pills">
                {% if app.user %}
                    <li>
                        <div id="userLogin">{{ app.user }}</div>
                    </li>
                    <li class="separator">|</li>
                    <li>
                        {#<a href="{{ path(admingenerator_config('logout_path')) }}">Выход</a>#}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('Shop_security_login') }}" role="button" data-toggle="modal" data-target="#myModal">Вход</a>
                    </li>
                    <li class="separator">|</li>
                    <li>
                        <a href="{{ path('Shop_frontend_content_show', {'alias': 'support'}) }}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% if not app.user %}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Вход на сайт</h3>
    </div>
    <div class="modal-body" id="loginBlock">
        {#{% render(controller("ShopFrontendBundle:User:login")) %}#}
    </div>

</div>
{% endif %}