{% trans_default_domain 'FOSUserBundle' %}
{% set layout = 'FullWidthTemplate' %}
{% if content.layout %}
    {% set layout = content.layout.file %}
{% endif %}
{% extends 'ShopFrontendBundle:Templates:' ~ layout ~ '.html.twig' %}

{% block titleMobile %}{{ content.title }}{% endblock %}

{% block title %}
    {% if content.meta %}
        <title>{{ content.meta.metaTitle }}</title>
    {% endif %}
    {% if not content.meta %}
        <title>{{ content.title }}</title>
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if content.meta %}
        {{ content.meta.metaDescription }}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% if content.meta %}
        {{ content.meta.metaKeywords }}
    {% endif %}
{% endblock %}

{% block more_scripts %}
    {% if content.meta %}
        {{ content.meta.moreScripts }}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="row-fluid catalog">
        <div class="span8">
            {{ content.content|raw }}
        </div>
        <div class="span4" id="formId">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                <fieldset>
                    <div class="legend">Создайте пароль!</div>
                    {{ form_widget(form) }}
                    <div class="control-group">
                        <div class="controls" style="text-align: center">
                            <input type="submit" class="btn" value="Сохранить" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}