{% verbatim %}
<div class="cart" ng-controller="CartInfoCtrl" ng-class="count > 0 ? 'active' : ''">
    <span class="ng-hide" ng-show="count > 0">{{ count }}</span>
    <a class="ng-hide" href="/cart" ng-show="count > 0"></a>
    <div class="wr ng-hide" ng-show="count > 0">
        <ul>
            <li ng-repeat="item in goods">
                <a href="/catalog/{{item.alias}}">
                <span class="img">
                    <img src="" ng-src="//{{item.image_path}}"
                         alt="{{item.alt_image}}"
                         title="{{item.title_image}}">
                </span> {{item.title}}</a>
                <span class="price" ng-if="item.discount">
                   {{item.price - item.price/100*item.discount}} <span class="rub" title="руб.">₽</span>
                </span>
                <span class="price" ng-if="!item.discount">
                   {{item.price}} <span class="rub" title="руб.">₽</span>
                </span>
                <span class="count">*{{item.count}}шт</span>
                <br>
                <span class="price">
                    <span class="count">{{item.count}} шт</span>
                    <a href="#" class="del action-button" title="удалить из корзины" ng-click="removeItem(item)"></a>
                </span>
            </li>
        </ul>
        <div class="sum">Всего к оплате:
            <span class="price">{{itog}} <span class="rub" title="руб.">₽</span></span></div>
        <a href="/cart" class="to_cart">Перейти в корзину</a>
        <a href="/order/make/" class="order_make">Оформить заказ</a>
    </div>
</div>
{% endverbatim %}