{% if ''|scriptName != '/app_dev.php' %}
{% else %}
    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/shopfrontend/css/page.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/shopfrontend/css/template.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/shopfrontend/css/mainpage.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/bundles/shopfrontend/css/custom.css"/>
{% endif %}