{% if ''|scriptName != '/app_dev.php' %}
    {#<script type="text/javascript" src="/assetic/js/content.min.js"></script>#}
    {#<script type="text/javascript" src="/bundles/pizonecontent/js/config.js"></script>#}
{% else %}
    <script type="text/javascript">
        var PiZoneConfig = {
            pathToTmpl: '/bundles/shopfrontend/tmpl/',
            pathToImg: '/bundles/shopfrontend/img/',
            apiPrefix: '/app_dev.php/api/'
        };
    </script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery.fancybox.pack.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery.quicksand.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery-animate-css-rotate-scale.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/js.cookie.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/slick.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/contact_me.js"></script>
    <script type="text/javascript" src="/bundles/pizoneform/js/client/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/main.js"></script>

    <script type="text/javascript" src="/bundles/pizoneadmin/js/angular/angular.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/angular/angular-storage.min.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/plugins/ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/event.dispatcher.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/loader.js"></script>

    <script type="text/javascript" src="/bundles/shopfrontend/js/exception.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/notify.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/pnotify.js"></script>

    <script type="text/javascript" src="/bundles/shopfrontend/js/app/service/diff.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/app/service/cart.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/app/controller/goods.list.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/app/controller/cart.info.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/app/controller/cart.info.bottom.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/app/app.js"></script>
    <script type="text/javascript" src="/bundles/shopfrontend/js/app/app.controller.js"></script>


    <script type="text/javascript">
        (function (e) {
            var o = e.getElementsByTagName("head")[0] || e.documentElement,
                a = e.createElement("script");a.async = true;
                a.src = "/bundles/pizoneform/js/client/wf.form.js?v=" + Math.random().toString(36).substr(2, 10);
                o.appendChild(a);
            a.onload = function(){
                var wfSubscribe = new WfForm();
                wfSubscribe.SetOptions({
                    form: 'pz_subscribe',
                    container: 'formSubscribeId',
                    dev: true,
                    callback: function(){}
                });
                wfSubscribe.Init.Module();
            }
        })(document)
    </script>
{% endif %}