<div class="pagination" data-container="pagination">
    <ul>
        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan">Начало</a></li>
        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan">Пред.</a></li>
        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan&amp;PAGEN_1=1">1</a></li>

        <li>2</li>

        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan&amp;PAGEN_1=3">3</a></li>

        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan&amp;PAGEN_1=4">4</a></li>

        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan&amp;PAGEN_1=5">5</a></li>

        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan&amp;PAGEN_1=3">След.</a></li>
        <li><a href="/kabel-vitaya-para-lan/?SECTION_CODE=kabel-vitaya-para-lan&amp;PAGEN_1=33">Конец</a></li>
    </ul>
</div>