<section class="main-slider slider">
    <ul class="s auto">
        <li style="background:#0097de center center no-repeat">
            <a href="/">
                <img src="/bitrix/templates/shop/img/emptydot.gif" data-lazy="https://img.layta.ru/f01/spacecam.png"
                     alt="Облако бесплатно">
            </a>
        </li>
        <li style="background:#d22c1c center center no-repeat">
            <a href="/">
                <img src="/bitrix/templates/shop/img/emptydot.gif" data-lazy="https://img.layta.ru/ab2/sale.jpg"
                     alt="Распродажа">
            </a>
        </li>
        <li style="background:rgb(56, 29, 106) center center no-repeat">
            <a href="/">
                <img src="/bitrix/templates/shop/img/emptydot.gif" data-lazy="https://img.layta.ru/d50/123.jpg"
                     alt="Горячие скидки от Western Digital!">
            </a>
        </li>
    </ul>
</section>
<div class="wrapper">
    <section class="layta-stickers">
        <ul>
            <li><a href="/support"><span>Техподдержка</span>
                Всегда рядом с вами
            </a></li>
            <li><a href="/help_order"><span>Как заказать?</span>
                Совершать покупки стало проще
            </a></li>
            <li><a href="/actions"><span>Акции</span>
                Только супер цены.<br>
                Только для вас
            </a></li>
            <li>
                <a href="/bonus"><span>Бонусы</span>
                    Расплачивайтесь накопленными бонусами
                </a>
            </li>
            <li>
                <a href="/company"><span>О компании</span>
                    Надежный партнер на рынке систем безопасности
                </a></li>
        </ul>
    </section>
</div>
<section class="sales-leader">
    <div class="wrapper">
        <h2 class="section-title">Лидеры продаж</h2>

        <div class="quicksand-wrapper">
            <ul class="tabs quicksand-tabs">
                <li data-tag="section-4571">CCTV</li>
                <li data-tag="section-4612">ОПС</li>
                <li data-tag="section-5669">СОУЭ</li>
                <li data-tag="section-4675">СКУД</li>
            </ul>
            <div class="tab-contents quicksand-contents">
                <div class="block show">
                    <ul>
                        <li class="tag-section-4571">
                            <a href="/western-digital-wd40purx.html"><span class="title">Western Digital WD40PURX</span>
                                <span class="img">
                                    <img src="https://img.layta.ru/western-digital-wd40purx-0.resize2.jpeg"
                                         alt="Жесткий диск Western Digital Purple HDD 4 Tb SATA-III 3.5&quot; WD40PURX"
                                         title="Жесткий диск Western Digital Purple HDD 4 Tb SATA-III 3.5&quot; WD40PURX">
                                </span>
                            </a>
                            <span class="price">
                                            11 006 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite" data-elementid="112982" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4571">
                            <a href="/western-digital-wd10purx.html"><span class="title">Western Digital WD10PURX</span>
                                <span class="img">
													<img src="https://img.layta.ru/western-digital-wd10purx-0.resize2.jpeg"
                                                         alt="Жесткий диск Western Digital Purple HDD 1 Tb SATA-III 3.5&quot; WD10PURX"
                                                         title="Жесткий диск Western Digital Purple HDD 1 Tb SATA-III 3.5&quot; WD10PURX">
												</span>
                            </a>
                            <span class="price">
                                            4 268 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite" data-elementid="112979" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4571">
                            <a href="/rvi-r04la-white.html"><span class="title">RVi-R04LA WHITE</span>
                                <span class="img">
													<img src="https://img.layta.ru/rvi-r04la-white-0.resize2.jpeg"
                                                         alt="Видеорегистратор цифровой гибридный 4 канальный RVi-R04LA WHITE"
                                                         title="Видеорегистратор цифровой гибридный 4 канальный RVi-R04LA WHITE">
												</span>
                            </a>
                            <span class="price">
                                            5 000 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="reviews"><a href="/rvi-r04la-white/reviews.html#product_menu">Отзывы 4</a> | <a-->
                                    <!--href="/rvi-r04la-white/discussion.html#product_menu">Обсуждение 2</a></span>-->
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="107319" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4571">
                            <a href="/mobotix-mx-q25m-sec-d12.html"><span class="title">Mobotix MX-Q25M-Sec-D12</span>
                                <span class="img">
													<img src="https://img.layta.ru/mobotix-mx-q25m-sec-d12-0.resize2.jpeg"
                                                         alt="IP-камера видеонаблюдения уличная купольная Mobotix MX-Q25M-Sec-D12"
                                                         title="IP-камера видеонаблюдения уличная купольная Mobotix MX-Q25M-Sec-D12">
												</span>
                            </a>
                            <span class="price">
                                            70 054 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="112562" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4571">
                            <a href="/hiwatch-ds-n211-4-mm.html"><span class="title">HiWatch DS-N211 (4 мм)</span>
                                <span class="img">
													<img src="https://img.layta.ru/hiwatch-ds-n211-4-mm-0.resize2.jpeg"
                                                         alt="IP-камера видеонаблюдения уличная купольная HiWatch DS-N211 (4 мм)"
                                                         title="IP-камера видеонаблюдения уличная купольная HiWatch DS-N211 (4 мм)">
												</span>
                            </a>
                            <span class="price">
                                            5 990 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="126613" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4571">
                            <a href="/hikvision-ds-2cd2512f-is-4-mm.html"><span class="title">Hikvision DS-2CD2512F-IS (4 мм)</span>
                                <span class="img">
													<img src="https://img.layta.ru/hikvision-ds-2cd2512f-is-4-mm-0.resize2.jpeg"
                                                         alt="IP-камера видеонаблюдения уличная купольная Hikvision DS-2CD2512F-IS (4 мм)"
                                                         title="IP-камера видеонаблюдения уличная купольная Hikvision DS-2CD2512F-IS (4 мм)">
												</span>
                            </a>
                            <span class="price">
                                            11 990 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="112074" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4571">
                            <a href="/mobotix-mx-d15di-sec-180.html"><span class="title">Mobotix MX-D15Di-SEC-180</span>
                                <span class="img">
													<img src="https://img.layta.ru/mobotix-mx-d15di-sec-180-0.resize2.jpeg"
                                                         alt="IP-камера видеонаблюдения купольная Mobotix MX-D15Di-SEC-180"
                                                         title="IP-камера видеонаблюдения купольная Mobotix MX-D15Di-SEC-180">
												</span>
                            </a>
                            <span class="price">
                                            107 516 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="112751" title="Добавить в закладки"></span>-->
                        </li>
                    </ul>
                </div>
                <div class="block ">
                    <ul>
                        <li class="tag-section-4612">
                            <a href="/bolid-shps.html"><span class="title">Болид ШПС</span>
                                <span class="img">
													<img src="https://img.layta.ru/bolid-shps-0.resize2.jpeg"
                                                         alt="Шкаф пожарной сигнализации Болид ШПС"
                                                         title="Шкаф пожарной сигнализации Болид ШПС">
												</span>
                            </a>
                            <span class="price">
                                            15 467 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82036" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4612">
                            <a href="/arsenal-bezopasnosti-molniya-12-vykhod.html"><span class="title">Арсенал Безопасности Молния-12 "ВЫХОД"</span>
                                <span class="img">
													<img src="https://www.layta.ru/images/no-photo.png"
                                                         alt="Табло световое плоское Арсенал Безопасности Молния-12 &quot;ВЫХОД&quot;"
                                                         title="Табло световое плоское Арсенал Безопасности Молния-12 &quot;ВЫХОД&quot;">
												</span>
                            </a>
                            <span class="price">
                                            153 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82446" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4612">
                            <a href="/arsenal-bezopasnosti-grom-12k-isp-2.html"><span class="title">Арсенал Безопасности Гром-12К исп.2</span>
                                <span class="img">
													<img src="https://www.layta.ru/images/no-photo.png"
                                                         alt="Оповещатель комбинированный уличный Арсенал Безопасности Гром-12К исп.2"
                                                         title="Оповещатель комбинированный уличный Арсенал Безопасности Гром-12К исп.2">
												</span>
                            </a>
                            <span class="price">
                                            300 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="reviews"><a-->
                                    <!--href="/arsenal-bezopasnosti-grom-12k-isp-2/reviews.html#product_menu">Оставить отзыв</a> | <a-->
                                    <!--href="/arsenal-bezopasnosti-grom-12k-isp-2/discussion.html#product_menu">Задать вопрос</a></span>-->
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82148" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4612">
                            <a href="/sibirskiy-arsenal-ip-101-1a-a3.html"><span class="title">Сибирский Арсенал ИП 101-1А-А3</span>
                                <span class="img">
													<img src="https://img.layta.ru/sibirskij-arsenal-ip-101-1a-a3-0.resize2.jpeg"
                                                         alt="Извещатель пожарный тепловой максимально-дифференциальный Сибирский Арсенал ИП101-1А-А3"
                                                         title="Извещатель пожарный тепловой максимально-дифференциальный Сибирский Арсенал ИП101-1А-А3">
												</span>
                            </a>
                            <span class="price">
                                            145 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82187" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4612">
                            <a href="/sibirskiy-arsenal-ip-101-1a-a1.html"><span class="title">Сибирский Арсенал ИП 101-1А-А1</span>
                                <span class="img">
													<img src="https://img.layta.ru/sibirskij-arsenal-ip-101-1a-a1-0.resize2.jpeg"
                                                         alt="Извещатель пожарный тепловой максимально-дифференциальный Сибирский Арсенал ИП101-1А-А1"
                                                         title="Извещатель пожарный тепловой максимально-дифференциальный Сибирский Арсенал ИП101-1А-А1">
												</span>
                            </a>
                            <span class="price">
                                            145 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82186" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4612">
                            <a href="/rubezh-ip-212-45.html"><span class="title">Рубеж ИП 212-45</span>
                                <span class="img">
													<img src="https://img.layta.ru/rubeg-ip-212-45-0.resize2.jpeg"
                                                         alt="Извещатель пожарный дымовой оптико-электронный Рубеж ИП 212-45"
                                                         title="Извещатель пожарный дымовой оптико-электронный Рубеж ИП 212-45">
												</span>
                            </a>
                            <span class="price">
                                            279 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82209" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4612">
                            <a href="/rubezh-ip-212-142.html"><span class="title">Рубеж ИП 212-142&nbsp;</span>
                                <span class="img">
													<img src="https://img.layta.ru/rubeg-ip-212-142-0.resize2.jpeg"
                                                         alt="Извещатель пожарный дымовой оптико-электронный Рубеж ИП 212-142&nbsp;"
                                                         title="Извещатель пожарный дымовой оптико-электронный Рубеж ИП 212-142&nbsp;">
												</span>
                            </a>
                            <span class="price">
                                            260 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82194" title="Добавить в закладки"></span>-->
                        </li>
                    </ul>
                </div>
                <div class="block ">
                    <ul>
                        <li class="tag-section-5669">
                            <a href="/inter-m-rm-01.html"><span class="title">Inter-M RM-01 </span>
                                <span class="img">
													<img src="https://img.layta.ru/inter-m-rm-01--0.resize2.jpeg"
                                                         alt="Пульт микрофонный с селектором Inter-M RM-01 "
                                                         title="Пульт микрофонный с селектором Inter-M RM-01 ">
												</span>
                            </a>
                            <span class="price">
                                            4 602 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="80610" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-5669">
                            <a href="/sibirskiy-arsenal-rokot-2.html"><span
                                    class="title">Сибирский Арсенал Рокот-2</span>
                                <span class="img">
													<img src="https://www.layta.ru/images/no-photo.png"
                                                         alt="Прибор управления оповещением Сибирский Арсенал Рокот-2"
                                                         title="Прибор управления оповещением Сибирский Арсенал Рокот-2">
												</span>
                            </a>
                            <span class="price">
                                            5 665 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="86922" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-5669">
                            <a href="/sibirskiy-arsenal-rokot.html"><span class="title">Сибирский Арсенал Рокот</span>
                                <span class="img">
													<img src="https://img.layta.ru/sibirskij-arsenal-rokot-0.resize2.jpeg"
                                                         alt="Прибор управления оповещением Сибирский Арсенал Рокот"
                                                         title="Прибор управления оповещением Сибирский Арсенал Рокот">
												</span>
                            </a>
                            <span class="price">
                                            1 510 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="reviews"><a href="/sibirskiy-arsenal-rokot/reviews.html#product_menu">Оставить отзыв</a> | <a-->
                                    <!--href="/sibirskiy-arsenal-rokot/discussion.html#product_menu">Задать вопрос</a></span>-->
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="82986" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-5669">
                            <a href="/arsenal-bezopasnosti-sonata-m.html"><span class="title">Арсенал Безопасности Соната-М</span>
                                <span class="img">
													<img src="https://img.layta.ru/arsenal-bezopasnosti-sonata-m-0.resize2.jpeg"
                                                         alt="Оповещатель речевой настенный Арсенал Безопасности Соната-М"
                                                         title="Оповещатель речевой настенный Арсенал Безопасности Соната-М">
												</span>
                            </a>
                            <span class="price">
                                            1 003 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="90240" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-5669">
                            <a href="/arsenal-bezopasnosti-sonata-3-l-3vt-8om.html"><span class="title">Арсенал Безопасности Соната-3-Л 3Вт/ 8Ом</span>
                                <span class="img">
													<img src="https://img.layta.ru/arsenal-bezopasnosti-sonata-3-l-3vt-8om-0.resize2.jpeg"
                                                         alt="Оповещатель речевой настенный Арсенал Безопасности Соната-3-Л (3Вт/ 8Ом)"
                                                         title="Оповещатель речевой настенный Арсенал Безопасности Соната-3-Л (3Вт/ 8Ом)">
												</span>
                            </a>
                            <span class="price">
                                            442 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="90367" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-5669">
                            <a href="/inter-m-sws-10-chernyy.html"><span class="title">Inter-M SWS-10 черный</span>
                                <span class="img">
													<img src="https://img.layta.ru/inter-m-sws-10-chernyj-0.resize2.jpeg"
                                                         alt="Громкоговоритель настенный Inter-M SWS-10(b) "
                                                         title="Громкоговоритель настенный Inter-M SWS-10(b) ">
												</span>
                            </a>
                            <span class="price">
                                            1 704 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="80636" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-5669">
                            <a href="/sonar-srg-3220.html"><span class="title">Sonar SRG-3220 </span>
                                <span class="img">
													<img src="https://img.layta.ru/sonar-srg-3220--0.resize2.jpeg"
                                                         alt="Блок реле многофункциональный Sonar SRG-3220 "
                                                         title="Блок реле многофункциональный Sonar SRG-3220 ">
												</span>
                            </a>
                            <span class="price">
                                            79 800 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="81467" title="Добавить в закладки"></span>-->
                        </li>
                    </ul>
                </div>
                <div class="block ">
                    <ul>
                        <li class="tag-section-4675">
                            <a href="/vizit-ukp-12m.html"><span class="title">Vizit УКП-12M</span>
                                <span class="img">
													<img src="https://img.layta.ru/vizit-ukp-12m-0.resize2.jpeg"
                                                         alt="Трубка переговорная Vizit УКП-12M"
                                                         title="Трубка переговорная Vizit УКП-12M">
												</span>
                            </a>
                            <span class="price">
                                            568 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="85908" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4675">
                            <a href="/ironlogic-z-2-usb.html"><span class="title">IronLogic Z-2 USB</span>
                                <span class="img">
													<img src="https://img.layta.ru/ironlogic-z-2-usb-0.resize2.jpeg"
                                                         alt="Считыватель мультиформатный настольный IronLogic Z-2 USB"
                                                         title="Считыватель мультиформатный настольный IronLogic Z-2 USB">
												</span>
                            </a>
                            <span class="price">
                                            2 925 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="97846" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4675">
                            <a href="/ironlogic-z-5r.html"><span class="title">IronLogic Z-5R</span>
                                <span class="img">
													<img src="https://img.layta.ru/ironlogic-z-5r-0.resize2.jpeg"
                                                         alt="Контроллер автономный IronLogic Z-5R"
                                                         title="Контроллер автономный IronLogic Z-5R">
												</span>
                            </a>
                            <span class="price">
                                            386 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="reviews">-->
                                <!--<a href="/ironlogic-z-5r/reviews.html#product_menu">Оставить отзыв</a> | <a-->
                                    <!--href="/ironlogic-z-5r/discussion.html#product_menu">Задать вопрос</a>-->
                            <!--</span>-->
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                <!--data-elementid="97868" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4675">
                            <a href="/smartec-st-ex010sm.html"><span class="title">Smartec ST-EX010SM</span>
                                <span class="img">
													<img src="https://img.layta.ru/smartec-st-ex010sm-0.resize2.jpeg"
                                                         alt="Кнопка выхода Smartec ST-EX010SM"
                                                         title="Кнопка выхода Smartec ST-EX010SM">
												</span>
                            </a>
                            <span class="price">
                                            453 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="87605" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4675">
                            <a href="/strazh-sr-lm120.html"><span class="title">STRAZH SR-LM120</span>
                                <span class="img">
													<img src="https://img.layta.ru/strazh-sr-lm120-0.resize2.jpeg"
                                                         alt="Замок электромеханический STRAZH SR-LM120"
                                                         title="Замок электромеханический STRAZH SR-LM120">
												</span>
                            </a>
                            <span class="price">
                                            1 700 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="113254" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4675">
                            <a href="/strazh-sr-lm110.html"><span class="title">STRAZH SR-LM110</span>
                                <span class="img">
													<img src="https://img.layta.ru/strazh-sr-lm110-0.resize2.jpeg"
                                                         alt="Замок электромеханический STRAZH SR-LM110"
                                                         title="Замок электромеханический STRAZH SR-LM110">
												</span>
                            </a>
                            <span class="price">
                                            1 600 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span class="star"></span><span class="star"></span><span
                                    class="star"></span><span class="star"></span><span class="star"></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="113253" title="Добавить в закладки"></span>-->
                        </li>
                        <li class="tag-section-4675">
                            <a href="/smartec-st-rl073si-nk.html"><span class="title">Smartec ST-RL073SI-NK </span>
                                <span class="img">
													<img src="https://img.layta.ru/smartec-st-rl073si-nk--0.resize2.jpeg"
                                                         alt="Замок электромеханический Smartec ST-RL073SI-NK "
                                                         title="Замок электромеханический Smartec ST-RL073SI-NK ">
												</span>
                            </a>
                            <span class="price">
                                            1 247 <span class="rub" title="руб.">₽</span>										</span>
                            <span class="rating-stars"><span></span><span></span><span></span><span></span><span></span></span>
                            <!--<span class="add_to_favorite action-button " data-action="add_to_favorite"-->
                                  <!--data-elementid="89106" title="Добавить в закладки"></span>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

