<nav class="main ">
    <a href="/catalog/">Каталог товаров</a>
    <ul>
        {% for one in items %}
        <li>
            {% if one.alias is defined %}
                <a href="{{ path('shop_frontend_catalog_show', {'alias': one.alias}) }}">{{ one.title }}</a>
            {% endif %}
            {% if one.__children is defined and one.__children|length > 0 %}
            <div class="submenu">
                {% if one.alias is defined %}
                <a href="{{ path('shop_frontend_catalog_show', {'alias': one.alias}) }}">{{ one.title }}</a>
                {% endif %}
                <ul>
                    {% for one2 in one.__children %}
                    <li>
                        <a href="{{ path('shop_frontend_catalog_show', {'alias': one2.alias}) }}">{{ one2.title }}</a>
                        {% if one2.__children is defined and one2.__children|length > 0 %}
                        <div class="submenu2">
                            <a href="{{ path('shop_frontend_catalog_show', {'alias': one2.alias}) }}">{{ one2.title }}</a>
                            <ul>
                                {% for one3 in one2.__children %}
                                    <li>
                                        <a href="{{ path('shop_frontend_catalog_show', {'alias': one3.alias}) }}">{{ one3.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                {#<a href="/ip-kamery/ulichnaia/" class="corner videonablyudenie" target="_blank">#}
                    {#<img class="lazy" src="/emptydot.gif" data-original="/images/menu_sections/videonablyudenie.png" alt="Видеонаблюдение" title="Видеонаблюдение">#}
                {#</a>#}
            </div>
            {% endif %}
        </li>
        {% endfor %}

        {#<li class="img">#}
            {#<a href="/rubezh/">#}
                {#<img src="/rubezh.png" alt="Рубеж" title="Рубеж">#}
            {#</a>#}
        {#</li>#}
        <li class="brands">
            <a href="/brands/">Каталог по брендам</a>
        </li>
    </ul>
</nav>