{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumb %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url('esser_frontend_homepage') }}">Главная</a></li>
                <li><a href="{{ url('fos_user_registration_register') }}">Регистрация</a></li>
                <li class="active">Подтверждение <i class="fa fa-arrow-down ml5"></i></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
<section class="bg-white">
    <div class="container">
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-12">
                <div class="title">
                    <h2>Подтверждение регистрации</h2>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Внимание!</strong>
                        Письмо отправлено на адрес {{ user.email }}. В нём содержится ссылка, по которой вы можете подтвердить свою регистрацию.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock fos_user_content %}
