{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
Приветствуем, {{ user.username }}!

Для подтверждения вашей регистрации, пройдите по ссылке {{confirmationUrl}}

Эта ссылка может быть использована только единожды для подтверждения вашей учетной записи.

Для дальнейшего входа а личный кабинет используйте пароль {{ user.plainPassword }}.

После входа вы можете изменить его на удобный для вас.

С наилучшими пожеланиями,
команда сайта.
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
