{% trans_default_domain 'FOSUserBundle' %}

<section class="bg-white">
    <div class="container">
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-12">
                <div class="title">
                    <h2>Зарегистрироваться</h2>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong>Внимание!</strong> Для того, чтобы зарегистрироваться введите Ваше Имя, Email и номер телефона. На указанный email, мы вышлим Вам ссылку для потверждения регистрации.
                    </div>

                    {#<div class="alert alert-success alert-dismissible" role="alert">#}
                        {#<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>#}
                        {#<strong>Заявка на регистрацию принята!</strong> Мы отправили Вам письмо, проверьте свой почтовый ящик!#}
                    {#</div>#}
                    {##}
                    {#<div class="alert alert-danger alert-dismissible" role="alert">#}
                        {#<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>#}
                        {#<strong>Внимание!</strong> Указанный email уже зарегистрирован в нашей системе!#}
                    {#</div>#}
                    {##}
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group {% if not form.fullName.vars.valid %}has-error{% endif %}">
                                        <label class="sr-only" for="name">Ф.И.О<br></label>

                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-user"></i>
                                            {{ form_widget(form.fullName, { 'attr': {'placeholder': 'Ф.И.О', 'class': 'form-control required'} }) }}
                                            {% if not form.fullName.vars.valid %}
                                                <div class="help-block">
                                                    {{ form_errors(form.fullName) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group {% if not form.company.vars.valid %}has-error{% endif %}">
                                        <label class="sr-only" for="name">Компания<br></label>

                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-user"></i>
                                            {{ form_widget(form.company, { 'attr': {'placeholder': 'Компания', 'class': 'form-control required'} }) }}
                                            {% if not form.company.vars.valid %}
                                                <div class="help-block">
                                                    {{ form_errors(form.company) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group {% if not form.positionHeld.vars.valid %}has-error{% endif %}">
                                        <label class="sr-only" for="name">Должность<br></label>

                                        <div class="inner-addon left-addon">
                                            <i class="fa fa-user"></i>
                                            {{ form_widget(form.positionHeld, { 'attr': {'placeholder': 'Должность', 'class': 'form-control required'} }) }}
                                            {% if not form.positionHeld.vars.valid %}
                                                <div class="help-block">
                                                    {{ form_errors(form.positionHeld) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
                                                <label class="sr-only" for="email">Email<br></label>

                                                <div class="inner-addon left-addon">
                                                    <i class="fa fa-envelope"></i>
                                                    {{ form_widget(form.email, { 'attr': {'placeholder': 'Email', 'class': 'form-control required required-email'} }) }}
                                                    {% if not form.email.vars.valid %}
                                                        <div class="help-block">
                                                            {{ form_errors(form.email) }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group {% if not form.phone.vars.valid %}has-error{% endif %}">
                                                <label class="sr-only" for="name">Телефон<br></label>

                                                <div class="inner-addon left-addon">
                                                    <i class="fa fa-phone"></i>
                                                    {{ form_widget(form.phone, { 'attr': {'placeholder': 'Телефон', 'class': 'form-control'} }) }}
                                                    {% if not form.phone.vars.valid %}
                                                        <div class="help-block">
                                                            {{ form_errors(form.phone) }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row actions">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="inner-addon text-right">
                                        <input type="submit" value=" &nbsp;Зарегистрироваться" name="submit" id="submitButton" class="btn btn-default btn-primary-corp-big">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {{ form_end(form) }}
                    <p>&nbsp;</p>
                </div>
                <!-- /Registrations Form -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div></section>

