{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Auth_token</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Country</th>
                <th>City</th>
                <th>Local_time</th>
                <th>Send_sms</th>
                <th>Send_email</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.authtoken }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.localtime }}</td>
                <td>{% if user.sendsms %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.sendemail %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
