{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Auth_token</th>
                <td>{{ user.authtoken }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Local_time</th>
                <td>{{ user.localtime }}</td>
            </tr>
            <tr>
                <th>Send_sms</th>
                <td>{% if user.sendsms %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Send_email</th>
                <td>{% if user.sendemail %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ user.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
