{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
    Авторизация
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url('esser_frontend_homepage') }}">Главная</a></li>
                <li class="active">Авторизация <i class="fa fa-arrow-down ml5"></i></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <section class="bg-white">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Войти</h2>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <strong>Здравствуйте!</strong> Введите email и пароль, для доступа в личный кабинет!
                    </div>
                    {% if error is defined and error%}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form name="contactform" id="loginform" method="post" action="{{ path("fos_user_security_check") }}">
                        {% if csrf_token is defined and csrf_token%}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="sr-only" for="email">Email<br></label>
                                                <div class="inner-addon left-addon">
                                                    <i class="fa fa-envelope"></i>
                                                    <input class="form-control required required-email" placeholder="Логин или Email" type="text" id="username" name="_username" value="{{ last_username }}" required="required" data-name="Логин или Email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="sr-only" for="email">Пароль<br></label>
                                                <div class="inner-addon left-addon">
                                                    <i class="fa fa-lock"></i>
                                                    <input class="form-control required required-email" placeholder="Пароль" type="password" id="password" name="_password" required="required" data-name="Пароль">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row actions">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="inner-addon text-right">
                                        <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
                                        <input type="submit" name="_submit" id="submitButtonLogin" class="btn btn-default btn-primary-corp-big" title="Нажми чтобы войти в личный кабинет!" />
                                        {#<input type="submit" value="&#xf1cd; &nbsp;Забыли пароль?" name="submit" id="submitButtonreg" class="btn btn-default btn-primary-corp-big" title="Забыли пароль?" />#}
                                    </div>
                                </div>
                            </div>
                            <div class="row actions">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="inner-addon">
                                        <a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /section -->
{% endblock fos_user_content %}
