{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
Приветствуем, {{ user.username }}!

Для сброса пароля, пожалуйста, пройдите по ссылке {{ confirmationUrl }}

С наилучшими пожеланиями,
команда сайта.
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
