{% trans_default_domain 'FOSUserBundle' %}


<section class="bg-white">
    <div class="container">
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-12">
                <div class="title">
                    <h2>Сброс пароля</h2>
                </div>
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <strong>Внимание!</strong> При возникновении проблем с входом в систему с использованием пароля
                    следуйте инструкциям ниже, чтобы сбросить пароль и восстановить доступ к учетной записи
                </div>


                <p>Учетная запись предоставляет доступ к множеству функций и служб. Например, с ее помощью можно
                    пользоваться личным кабинетом совершать покупки и многое другое.
                    Для сброса пароля вам понадобится адрес электронной почты, привязанный к вашей учетной записи.</p>
                <p>
                    Чтобы сбросить пароль введите в поле ниже свой email и нажмите кнопку «Сбросить пароль».
                    На указанный электронный адрес будет отправлено сообщение, которое можно использовать для сброса
                    пароля.
                </p>
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
                      class="fos_user_resetting_request">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="form-group">

                            <label class="sr-only" for="username">Введите ваш email</label>
                            <div class="inner-addon left-addon">
                                <input type="text" id="username" name="username" required="required"
                                       placeholder="Введите ваш email" class="form-control required"/>
                            </div>
                        </div>

                    </div>
                    <div class="row actions">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="inner-addon text-right">
                                <input type="submit" value="Сбросить пароль"
                                       class="btn btn-default btn-primary-corp-big"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
