{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url('esser_frontend_homepage') }}">Главная</a></li>
                <li class="active">Сброс пароля <i class="fa fa-arrow-down ml5"></i></li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
