{% trans_default_domain 'FOSUserBundle' %}

<section class="bg-white">
    <div class="container">
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-12">
                <div class="title">
                    <h2>Сброс пароля</h2>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group {% if not form.plainPassword.first.vars.valid %}has-error{% endif %}">
                                    <label class="sr-only" for="name">Новый пароль<br></label>

                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-user"></i>
                                        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Новый пароль', 'class': 'form-control required'} }) }}
                                        {% if not form.plainPassword.first.vars.valid %}
                                            <div class="help-block">
                                                {{ form_errors(form.plainPassword.first) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group {% if not form.plainPassword.second.vars.valid %}has-error{% endif %}">
                                    <label class="sr-only" for="name">Повторите новый пароль<br></label>

                                    <div class="inner-addon left-addon">
                                        <i class="fa fa-user"></i>
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Повторите новый пароль', 'class': 'form-control required'} }) }}
                                        {% if not form.plainPassword.second.vars.valid %}
                                            <div class="help-block">
                                                {{ form_errors(form.plainPassword.second) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row actions">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="inner-addon text-right">
                                    <input type="submit" value=" &nbsp;Сохранить" name="submit" id="submitButton" class="btn btn-default btn-primary-corp-big">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
