{% extends 'base.html.twig' %}

{% block body %}
    <h1>Currency list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short_name</th>
                <th>Test_balance</th>
                <th>Numeric_code</th>
                <th>Cross_rate</th>
                <th>Country</th>
                <th>Is_active</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td><a href="{{ path('currency_show', { 'id': currency.id }) }}">{{ currency.id }}</a></td>
                <td>{{ currency.name }}</td>
                <td>{{ currency.shortname }}</td>
                <td>{{ currency.testbalance }}</td>
                <td>{{ currency.numericcode }}</td>
                <td>{{ currency.crossrate }}</td>
                <td>{{ currency.country }}</td>
                <td>{% if currency.isactive %}Yes{% else %}No{% endif %}</td>
                <td>{% if currency.updatedat %}{{ currency.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('currency_show', { 'id': currency.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('currency_edit', { 'id': currency.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('currency_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
