{% extends 'base.html.twig' %}

{% block body %}
    <h1>Currency</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ currency.name }}</td>
            </tr>
            <tr>
                <th>Short_name</th>
                <td>{{ currency.shortname }}</td>
            </tr>
            <tr>
                <th>Test_balance</th>
                <td>{{ currency.testbalance }}</td>
            </tr>
            <tr>
                <th>Numeric_code</th>
                <td>{{ currency.numericcode }}</td>
            </tr>
            <tr>
                <th>Cross_rate</th>
                <td>{{ currency.crossrate }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ currency.country }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{% if currency.isactive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if currency.updatedat %}{{ currency.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('currency_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('currency_edit', { 'id': currency.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
