<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li>
                <a href="{{ path('shop_frontend_homepage') }}"><span>Главная</span></a>
            </li>
            <li>
                <a href="{{ path ('shop_frontend_catalog_list') }}"><span>Каталог товаров</span></a>
            </li>
            {% set count = items|length %}
            {% for item in items|slice(0,count-1) %}
                {% if item.level != 0 %}
                <li>
                    <a href="{{ path('shop_frontend_catalog_show', {'alias': item.alias}) }}">
                        <span>{{ item.title }}</span>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            <li>
                <span>{{ items[count-1].title }}</span>
            </li>
        </ul>
    </div>
</section>