<article>
    {% if category.anons %}
    <div class="info-blocks">
        {{ category.anons | raw }}
        <br class="clear">
    </div>
    {% endif %}

    <ul class="categories">
        {% for item in items %}
        <li>
            <a href="{{ path('shop_frontend_catalog_show', {'alias': item.alias}) }}">
                <span class="img">
                    <img class="lazy"  src="{{ item.getImageWebPath() }}" alt="{{ item.title }}" title="{{ item.title }}" style="display: inline;">
                </span>{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</article>