{% for content in items %}
    {% set item = content[0] %}
    <div class="product" id="goods_{{ item.id }}">
        <a target="_blank" href="{{ path('shop_frontend_catalog_show_goods', {'category': item.category.alias, 'alias': item.alias}) }}" class="img">
            <img class="lazy" src="{{ item.getImageWebPath() }}" alt="" title="" style="display: inline;">
        </a>
        <a target="_blank" href="{{ path('shop_frontend_catalog_show_goods', {'category': item.category.alias, 'alias': item.alias}) }}" class="title">{{ item.title }}</a>
        <span class="fulltitle"></span>
        <span class="articul">Артикул: <span>{{ item.getArticle() }}</span></span>
        <span class="reviews">
                        <a href="#">Оставить отзыв</a> |
                        <a href="#">Задать вопрос</a>
                    </span>

        <div class="description">{{ item|raw }}</div>
        <div class="wr">
            <ul class="prices ">
                {% if item.sale is defined and item.sale and item.sale.retailPrice %}
                    <li class="price" data-price="25">
                        Розница <span class=" ">{{ item.sale.retailPrice }} <span class="rub" title="руб.">₽</span>/шт</span>
                    </li>
                    {% if item.sale.discount %}
                        <li class="price" data-price="24">
                            Ваша цена <span class=" ">{{ item.sale.retailPrice - (item.sale.retailPrice/100 * item.sale.discount) }} <span class="rub" title="руб.">₽</span>/шт</span>
                        </li>
                        <li class="price" data-price="0">
                            Экономия <span class="">{{ item.sale.retailPrice/100 * item.sale.discount }} <span class="rub" title="руб.">₽</span></span>
                        </li>
                    {% endif %}
                {% else %}
                    <div class="cant-buy">
                        Цену товара <br>уточняйте у менеджера
                        <hr>
                        <a href="tel:{{ phone_manager }}">{{ phone_manager }}</a>
                    </div>
                {% endif %}
            </ul>
            <a href="" class="buy in_cart" onclick="Cart.AddToCart({{ item.id }}); return false;">Купить</a>
        </div>
        {#<div class="add_to">#}
        {#<span class="to_favorite action-button">В закладки</span>#}
        {#<span class="to_compare action-button">Сравнить</span>#}
        {#</div>#}
    </div>
{% endfor %}