<article>
    {% include 'ShopFrontendBundle:Catalog/Category:_goods_list_panel.html.twig' %}

    <div id="catalogBox">
        <div class="table" id="productlist">
            {% include 'ShopFrontendBundle:Catalog/Category:_goods_list_items.html.twig' %}
        </div>
        {% if items.haveToPaginate() %}
            <div class="pagination">
            {{ pagerfanta(items, 'default', {
                'previous_message': 'Пред.',
                'next_message': 'След.',
                'container_template': '<ul>%pages%</ul>',
                'page_template': '<li><a href="%href%"%rel%>%text%</a></li>',
                'span_template': '<li>%text%</li>'
            }) }}
            </div>
        {% endif %}
    </div>

    {% include 'ShopFrontendBundle:Catalog/Category:_goods_list_panel.html.twig' %}

    <div class="SEOLanding">
        {{ category.anons }}
    </div>
</article>