<div class="panel">
    {#<div class="compare">#}
        {#<span>Сравнить товары <span class="count">0</span></span>#}
    {#</div>#}

    {#<a href="/personal/favorites.php" class="favorite">Закладки <span>(0)</span></a>#}
    <div class="view">Вид:
        <span rel="icon"></span>
        <span rel="table" class="active"></span>
    </div>
    <div class="sort">Сортировать по:
        <select style="display: none;">
            {% set orderBy = app.request.query.get('order_by') %}
            <option value="default">по умолчанию</option>
            <option value="price" {% if orderBy == 'price' %}selected{% endif %}>Цене ▲</option>
            <option value="price_desc" {% if orderBy == 'price_desc' %}selected{% endif %}>Цене ▼</option>
            <option value="title" {% if orderBy == 'title' %}selected{% endif %}>Названию ▲</option>
            <option value="title_desc" {% if orderBy == 'title_desc' %}selected{% endif %}>Названию ▼</option>
            <option value="hit" {% if orderBy == 'hit' %}selected{% endif %}>Популярности</option>
            <option value="new" {% if orderBy == 'new' %}selected{% endif %}>Новизне</option>
        </select>
    </div>
</div>