{% if items|length > 0 %}
<nav>
    <ul>
        {% for item in items %}
            {% set count = item.children|length %}
            <li class="active{% if count == 0 %} empty{% endif %}">
                <strong>
                    <a href="{{ path('shop_frontend_catalog_show', {'alias': item.alias}) }}">{{ item.title }}</a>
                </strong>
                {% if count > 0 %}
                    <div class="block">
                        <ul>
                            {% for child_1 in item.children|slice(0,2) %}
                                <li>
                                    <a href="{{ path('shop_frontend_catalog_show', {'alias': child_1.alias}) }}">{{ child_1.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if count > 2 %}
                            <ul class="moreinfo">
                                {% for child_1 in item.children|slice(2) %}
                                    <li>
                                        <a href="{{ path('shop_frontend_catalog_show', {'alias': child_1.alias}) }}">{{ child_1.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="readmore"><span>Показать все</span><span>Свернуть</span></div>
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}