{% extends 'ShopFrontendBundle:Templates:CatalogListTemplate.html.twig' %}

{% block breadcrumbs %}
    {{ render (controller("ShopFrontendBundle:Catalog:breadcrumbs", {node: category})) }}
{% endblock %}

{% block content %}
    <section class="catalog subcatalog">
        <div class="wrapper">
            <h1>{{ category.title }}</h1>
            {% include 'ShopFrontendBundle:Catalog/Category:_category_list_article.html.twig' %}
            {% include 'ShopFrontendBundle:Catalog/Category:_category_list_aside.html.twig' %}
            <br class="clear">
        </div>
    </section>
{% endblock %}