{% extends 'ShopFrontendBundle:Templates:CatalogListTemplate.html.twig' %}

{% block breadcrumbs %}
    {{ render (controller("ShopFrontendBundle:Catalog:breadcrumbs", {node: category})) }}
{% endblock %}

{% block content %}
    <section class="catalog">
        <div class="wrapper">
            <h1>{{ category.title }}</h1>
            <span id="catalog_count">({{ items.getNbResults() }})</span>

            {% include 'ShopFrontendBundle:Catalog/Category:_goods_list_article.html.twig' %}
            {% include 'ShopFrontendBundle:Catalog/Category:_goods_list_aside.html.twig' %}
            <br class="clear">
            {#<div class="print_page">#}
                {#<a href="javascript:window.print()">Печать страницы</a>#}
            {#</div>#}
        </div>
    </section>
{% endblock %}