{% extends 'ShopFrontendBundle:Templates:FullWidthTemplate.html.twig' %}

{% block title %}
    <title>Каталог товаров</title>
{% endblock %}
{% block meta_description %}
    <meta name="description" content="Каталог товаров">
    <meta http-equiv="description" content="Каталог товаров">
{% endblock %}
{% block meta_keywords %}
    <meta name="Keywords" content="Каталог товаров">
    <meta http-equiv="Keywords" content="Каталог товаров">
{% endblock %}

{% block breadcrumbs %}
    <section class="breadcrumbs">
        <div class="wrapper">
            <ul>
                <li>
                    <a href="{{ path('shop_frontend_homepage')}}">
                        <span>Главная</span>
                    </a>
                </li>
                <li>
                    <span>Каталог товаров</span>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section class="catalog-tree">
        <div class="wrapper">
            <h1>Каталог товаров</h1>
            <ul>
                {% for one in items %}
                <li>
                    <a href="{{ path('shop_frontend_catalog_show', {'alias': one.alias}) }}"><h3>{{ one.title }}</h3></a>
                    {% if one.image_path %}
                        <span class="img">
                            <img src="{{ parent.getUploadDir() }}{{ one.image_path }}" alt="" title="">
                        </span>
                    {% endif %}
                    {% if one.__children is defined and one.__children|length > 0 %}
                    <ul>
                       {% for one2 in one.__children %}
                        <li>
                            <a href="{{ path('shop_frontend_catalog_show', {'alias': one2.alias}) }}">{{ one2.title }}</a>
                           {% if one2.__children is defined and one2.__children|length > 0 %}
                            <span class="readmore"></span>
                            <ul class="moreinfo">
                               {% for one3 in one2.__children %}
                                <li>
                                    <a href="{{ path('shop_frontend_catalog_show', {'alias': one3.alias}) }}">{{ one3.title }}</a>
                                </li>
                               {% endfor %}
                            </ul>
                           {% endif %}
                        </li>
                       {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}