{% extends '@PiZoneAdmin/Admin/index.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ include ('PiZoneCatalogBundle::_javascripts.html.twig') }}
    {{ include ('PiZoneContentBundle::_javascripts.html.twig') }}
    {{ include ('PiZoneFormBundle::_javascripts.html.twig') }}
    {{ include ('PiZoneUserBundle::_javascripts.html.twig') }}
    <script type="text/javascript" src="/bundles/shopbackend/js/app.js"></script>

{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}

    {{ include ('PiZoneCatalogBundle::_stylesheets.html.twig') }}
    {{ include ('PiZoneContentBundle::_stylesheets.html.twig') }}
    {{ include ('PiZoneFormBundle::_stylesheets.html.twig') }}
    {{ include ('PiZoneUserBundle::_stylesheets.html.twig') }}
{% endblock %}